Integrative Programming Project Requirements
Integrative Programming Project REquirements 

mp1

CRUD scripts datatables with multiple file/image uploads 20pts


mp2

CRUD scripts datatables with multiple file/image uploads 20pts



mp3✅ - Products

CRUD scripts datatables with multiple file/image uploads 20pts 



mp4 ✅ - single upload only
User CRUD scripts. register/update profile with multiple file/image uploads. admin can only delete a user 20pts ✅



term test

Transaction CRUD scripts. only administrators can update transactions. 20 ✅

Send an email to the site's official address when a user completes a transaction (5pts). 
also send an email to user/customer when the administrator confirms the transaction (5pts).  
attach a receipt in PDF format. (10pts)



q1

react pagination on front page 10pts

infinite scroll 15pts



q2

form validation 15pts (eg formik, react-validation )



q3 ✅

Login function 10pts ✅

google/facebook login 15pts



q4

3 charts bar line pie 10pts

3 charts bar line pie with join other collection 15pts



u1

same ui as example (5pts) ✅

UI/UX design. use react free admin/site templates 10pts 

UI/UX design. design should be apt to the site's purpose. use any component library (material-ui, paper, bootstrap etc). 20 pts



u2 - minimal

NODE backend app token generation, api routing with roles, mongodb database, and other functions that the frontend needs 20pts ✅



term test lec 40pts

functional requirements completeness 10pts - not complete ✅

program execution (minimal errors), 10pts - minimal ✅

App complexity, added features. 10pts - no addition ✅

Code Contribution/correct/truthful answer to questions 10pts - not sure ✅



Full credit will be given if group members are able to answer and explain logically and truthfully.

all members should be present during the presentation. no points will be given to those who are absent.


